body {
    font-family: 'Lato', Tahoma, Arial, sans-serif;
    font-size: 12px;
}

p {
    margin: 0 0 3px;
    line-height: 14px;
}

h3 {
    font-size: 1.17em;
    line-height: 10px;
}

#wrapper {

}

#title {
    
}

#title h1 {
    font-family: 'Share Tech', sans-serif;
    font-size: 20px;
    text-align: center;
}

#content {

}

#map_wrapper {
    
}

#controls_panel {
    text-align: center;
}

#map_canvas {
    width: 80%;
    height: 200px;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.5);
    margin: auto;
}

#directions_panel {
    width: 80%;
    margin: auto;
    background-color: #C8FEA7;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.5);
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
    padding: 5px;
}

#results {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#distance, #time {    
    font-weight: bold;
}

#footer {
    padding-top: 10px;
    text-align: center;
    font-size: 8pt;
}

.progress {
    width: 200px;
    height: 10px;
    margin: auto;
    text-align: center;
}

.progress.ui-progressbar {
    position: relative;
    height: 2em;
}

.progress span {
    position: static;
    margin-top: -2em;
    text-align: center;
    display: block;
    line-height: 2em;
    padding-left: 10px;
    padding-right: 10px;
}

.progress[aria-valuenow="0"] span {
    margin-top: 0px;
}​

/* to hide the close 'x' icon of the dialog */
.ui-dialog-titlebar-close {
    visibility: hidden;
}

/* these two are really needed, otherwise won't work */
.ui-dialog .ui-dialog-titlebar-close {
    visibility: hidden;
}

/*.dropdown-menu {
    min-width: 100px;
}*/

#date {
    display: none;
}

.ui-dialog .ui-dialog-buttonpane button {
    float: none;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: center;
}

#dialog_print {
    visibility: hidden;
}

#dialog {
    width: 200px;
}

#btn_print {
    display: none;
}

#btn_clear, #btn_show, #btn_route {
    width: 80px;
}