html {
    /*overflow: hidden;*/
}

body {
    /* to make sure the image fits the whole broser window */
    background: url("../img/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lato', Tahoma, Arial, sans-serif;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 12px;
}

p {
    margin: 10px;
    padding: 0px;
    line-height: 14px;
}

h3 {
    font-size: 14px;
    line-height: 30px;    
}

#wrapper {
    width: 1000px;
    margin: auto;
    margin-top: 40px;
}

#title {
    /*margin-bottom: 25px;*/
}

#title h1 {
    font-family: 'Share Tech', sans-serif;
    font-size: 30px;
    text-align: center;
}

#content {
}

#map_wrapper {
    float: left;
}

#controls_panel {
    height: 40px;
    width: 590px;
    margin: 0;
}

#map_canvas {
    width: 590px;
    height: 450px;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.5);
    margin: auto;
}

#directions_panel {
    width: 390px;
    height: 450px;
    margin: auto;
    background-color: #C8FEA7;
    float: left;
    margin-left: 10px;
    overflow: auto;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.5);
    padding-left: 5px;
    padding-right: 5px;
}

#results {
    width: 375px;
    height: 40px;
    float: left;
    margin-left: 10px;
    font-size: 14px;
    padding-left: 10px;
}

#distance, #time {    
    font-weight: bold;s
}

#footer {
    clear: both;
    padding: 20px;
    text-align: center;
}

.progress {
    width: 200px;
    height: 10px;
    margin: auto;
    text-align: center;
}

.progress.ui-progressbar {
    position: relative;
    height: 2em;
}

.progress span {
    position: static;
    margin-top: -2em;
    text-align: center;
    display: block;
    line-height: 2em;
    padding-left: 10px;
    padding-right: 10px;
}

.progress[aria-valuenow="0"] span {
    margin-top: 0px;
}​

/* to hide the close 'x' icon of the dialog */
.ui-dialog-titlebar-close {
    visibility: hidden;
}

/* these two are really needed, otherwise won't work */
.ui-dialog .ui-dialog-titlebar-close {
    visibility: hidden;
}

.dropdown-menu {
    min-width: 100px;
}

#date {
    text-align: center;
    margin: auto;
    visibility: hidden;
}

.ui-dialog .ui-dialog-buttonpane button {
    float: none;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: center;
}

#dialog_print {
    text-align: center;
    margin: auto;
}
